.primary-heading {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary-color);

    &--small {
        font-size: 4rem;
    }
}

.secondary-heading {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--dark-color);

    &--small {
        font-size: 4.5rem;
    }

    @media (max-width: 60rem) {
        font-size: 3.5rem;
    }
}

.tertiary-heading {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--secondary-color);
}

.text-lg {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.4;
}

.text-xlg {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4;
}